.menu {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: stretch;

  .menuItem {
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    font-size: calc(1rem + 1vw);
    margin-bottom: 1rem;
    position: relative;
    border-color: black;
    border-bottom: 0.25rem solid black;
    cursor: pointer;

    &:hover,
    &:active {
      color: #fff;
      border-color: #fff;
    }
  }
}
