.topLeft,
.topRight,
.bottomLeft,
.bottomRight {
  display: block;
  position: fixed;
  border: 0 solid rgba(255, 255, 255, 0.7);
  width: 10vw;
  height: 10vw;
}

.topLeft {
  top: 16px;
  left: 16px;
  border-left-width: 2px;
  border-top-width: 2px;
}

.topRight {
  top: 16px;
  right: 16px;
  border-right-width: 2px;
  border-top-width: 2px;
}

.bottomLeft {
  bottom: 16px;
  left: 16px;
  border-left-width: 2px;
  border-bottom-width: 2px;
}

.bottomRight {
  bottom: 16px;
  right: 16px;
  border-bottom-width: 2px;
  border-right-width: 2px;
}
