.layout {
  background-color: rgb(255, 241, 0);
  min-height: 100vh;
  min-height: calc(var(--vh, 1vh) * 100);
  width: 100vw;
}

.layoutAr {
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
  width: 100vw;
  overflow: hidden;

  .footer {
    background-color: rgba(255, 241, 0, 0.7);
  }
}

.layout,
.layoutAr {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;

  .content {
    flex: 0 1 30rem;
    padding: 0.5rem 3rem 4rem;
    box-sizing: border-box;
  }

  &.flex .content {
    flex: 0 1 100vw;
  }
}
